```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ENV
.env
.env.*
.env.local
.env.dev
.env.test
.env.prod
.python-version
pip-log.txt
pipenv.lock
poetry.lock
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
.DS_Store
Thumbs.db
```